*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100vw;
    height: 70px;
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: dodgerblue;
}

.mes-recettes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 20px;
}
.card-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card{
    margin-top: 20px;
}
.card-body{
    position: relative;
}
/* .yt{
    position: absolute;
    bottom: 20px;
} */
.search{
    width: 296px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    left: 35%;
    padding: 10px;
}